<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.4.0/marked.js"></script>
    <style>
        #header{
            width: 100%;
            height: 40px;
            background: #2e6da4;
            line-height: 40px;
            color: white;
            font-size: 20px;
            margin-bottom: 60px;
        }
        #md,#html{
            height: 510px;
        }
        #md{
            resize: none;
        }
        #html{
            border: solid 1px darkgrey;
            border-radius: 5px;
        }
    </style>
    <![endif]-->
</head>
<body>
<%- include navi.ejs%>
<div class="container">
    <div class="row clearfix">
        <div id="header" class="text-center">MarkDown解析器</div>
        <div class="container">
            <div class="row">
                <input type="text" id="titleInput" placeholder="请输入博客标题"/>
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <textarea id="md" class="form-control"  placeholder="博客支持MarkDown"></textarea>
                </div>
                <div id="html" class="col-lg-6 col-sm-6 col-md-6"></div>
            </div>
        </div>
    </div>
</div>
        <button id="submitMD">发布文章</button>
<script>
    Date.prototype.format = function (format) {
           var args = {
               "M+": this.getMonth() + 1,
               "d+": this.getDate(),
               "h+": this.getHours(),
               "m+": this.getMinutes(),
               "s+": this.getSeconds(),
               "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
               "S": this.getMilliseconds()
           };
           if (/(y+)/.test(format))
               format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
           for (var i in args) {
               var n = args[i];
               if (new RegExp("(" + i + ")").test(format))
                   format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? n : ("00" + n).substr(("" + n).length));
           }
           return format;
       };
</script>
<script>
    $(document).ready(function(){
        var htmlStr = '';
        $("#md").on("keyup blur",function () {
            $('#html').html(marked($("#md").val()));
            //将markdown格式转化成html
             htmlStr=marked(marked($("#md").val()));
            // console.log(htmlStr.toString());
        })
        $("#submitMD").click(function(){
            console.log(htmlStr);
            var datetime = new Date().format("yyyy-MM-dd hh:mm:ss");
            var articleTitle = $("#titleInput").val();
            console.log()
            console.log(articleTitle);
            $.ajax({
                data:{
                    title:articleTitle,
                    author:'cxy',
                    content:htmlStr,
                    writeDate:datetime,
                },
                type:"POST",
                url:"/article/submitArticle",
                success:function(msg){
                    alert("Submit success");
                    window.location.href='/'
                },
                error:function(){
                    alert("Error");
                }
            })
        })
    })
</script>
</body>
</html>
