<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>CHSH'sBlog</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-pink.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <style>
        #more-fab {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        .demo-card-wide.mdl-card {
            width: 100%;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('/images/banner.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--导航栏-->
    <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--primary">
        <!--为了header大一点设置的header-row-->
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">

        </div>
        <div class="mdl-layout mdl-layout__header-row">
            <h3>CHSH的博客</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="/newindex" class="mdl-layout__tab is-active">主页</a>
            <a href="/article/articlePage" class="mdl-layout__tab">文章列表</a>
            <a href="#features" class="mdl-layout__tab">最近访客</a>
            <a href="#features" class="mdl-layout__tab">推荐</a>
            <a href="/article/writeArticle" class="mdl-layout__tab">发布文章</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <!--正文部分-->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--9-col">
                <!-- Wide card with share menu button -->
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-cell--12-col mdl-shadow--2dp">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Welcome</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Get Started
                            </a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </div>
                </section>

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-cell--12-col mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">文章推荐</h4>

                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>JavaScript学习</h5>
                                盛轶群 wrote on 2018-6-11  <a href="#">proident minim</a>.
                            </div>

                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>JavaScript学习</h5>
                                盛轶群 wrote on 2018-6-11  <a href="#">proident minim</a>.
                            </div>

                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>JavaScript学习</h5>
                                盛轶群 wrote on 2018-6-11  <a href="#">proident minim</a>.
                            </div>
                        </div>
                        <div class="mdl-card__actions">
                            <a href="#" class="mdl-button">Read our features</a>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-cell--12-col mdl-shadow--2dp">
                    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                        <i class="material-icons">play_circle_filled</i>
                    </header>
                    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-card__supporting-text">
                            <h4>Features</h4>
                            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                        </div>
                        <div class="mdl-card__actions">
                            <a href="#" class="mdl-button">Read our features</a>
                        </div>
                    </div>

                </section>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-cell--12-col mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>标题1</h4>
                            作者：盛轶群 | 2018-6-10
                        </div>
                        <div class="mdl-card__actions">
                            <a href="#" class="mdl-button">阅读全文</a>
                        </div>
                    </div>
                    <!-- 菜单 -->
                </section>
            </div>
            <!--下方两个圆圈-->
            <section class="section--footer mdl-color--white mdl-grid">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Lorem ipsum dolor sit amet</h5>
                    Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Lorem ipsum dolor sit amet</h5>
                    Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
                </div>
            </section>
        </div>
        <!--页脚部分-->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<ul class="mdl-menu  mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="more-fab" style="margin-bottom: 10px;">
    <li class="mdl-menu__item">个人信息</li>
    <li class="mdl-menu__item">登出</li>
    <li class="mdl-menu__item" id="ToTop">返回顶部</li>
</ul>
<a href="#"  id="more-fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast"><i class="material-icons">add</i></a>
<!--<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
</body>
<script src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/material.js"></script>
<script type="text/javascript" src="/js/jquery.toTop.js"></script>
<script>
    $(document).ready(function () {
        $("#ToTop").click(function () {
            $('html, body').animate({scrollTop: 0}, 500);
        })
    })
</script>
</html>