<!DOCTYPE html>
<html lang="en">
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<script src="js/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            dataType: 'jsonp',
            type:'GET',
            url:'https://api.douban.com/v2/movie/top250?start=20&count=20',
            success:function (msg) {
                document.write('您这次获取了'+msg.count+'部电影， 序号是'+msg.start+ '到 '+msg.start+msg.count );
                console.log(msg)
                // msg.subjects.forEach(function (item) {
                //     console.log(item.title);
                // })
            },
            error:function (msg) {
                alert(msg);
            }
        })
    })
</script>
</body>
</html>