<!DOCTYPE HTML>
<html>
<head>
    <title>CHSH的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <link href="stylesheets/bootstrap-3.1.1.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <link href="stylesheets/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="stylesheets/style.css" rel='stylesheet' type='text/css'/>
    <script src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/move-top.js"></script>
    <script type="text/javascript" src="javascripts/easing.js"></script>
    <link rel="stylesheet" href="stylesheets/flexslider.css" type="text/css" media="screen"/>

    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>

</head>

<script type="text/javascript" src="javascripts/bootstrap-3.1.1.min.js"></script>
</html>