<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>发布博客</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-pink.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.4.0/marked.js"></script>
    <style>
        #more-fab {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        #titleInput{
            width: 100%;
            height: 40px;
        }
        #tags{
            width: 100%;
            height: 40px;
        }
        #md,#html{
            height: 500px;
            width: 100%;
            border:  white;
        }
        #md{
            resize: none;
            font-size: 16px;
            font-family: "Helvetica", "Arial", sans-serif;
        }
        #html{
            overflow-x: auto;
            overflow-y: auto;
            padding-right: 8px;
        }
        h3{
            line-height: 10px;
        }
    </style>
</head>
<body class="chsh mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--导航栏-->
    <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--primary">
        <!--为了header大一点设置的header-row-->
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">

        </div>
        <div class="mdl-layout mdl-layout__header-row">
            <h3>CHSH的博客</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="/" class="mdl-layout__tab">主页</a>
            <a href="/article/articlePage" class="mdl-layout__tab">文章列表</a>
            <a href="/page" class="mdl-layout__tab">推荐</a>
            <a href="/aboutUs" class="mdl-layout__tab">关于我们</a>
            <a href="/article/writeArticle" id="submitArticle" class="mdl-layout__tab is-active" >发布文章</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <!--正文部分-->
        <main class="mdl-layout-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col testcol">
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="titleInput">
                            <label class="mdl-textfield__label" for="titleInput">请输入博客标题</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="tags">
                            <label class="mdl-textfield__label" for="Email">请输入标签</label>
                            <span class="mdl-textfield__error">Letters and numbers only,2-20 long</span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col testcol mdl-card mdl-shadow--2dp">
                    <textarea id="md" class="form-control "  placeholder=" 博客支持MarkDown"></textarea>
                </div>
                <div class="mdl-cell mdl-cell--6-col testcol mdl-card mdl-shadow--2dp" >
                    <div id="html"></div>
                    </div>
            </div>
        </main>
        <!--页脚部分-->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">CHSH'sBlog</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="/mdl">We Use Google Material Degisn Lite</a></li>
                    <li><a href="#">ZUCC-CHSH Group</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<ul class="mdl-menu  mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="more-fab" style="margin-bottom: 10px;">
    <!--<li class="mdl-menu__item">个人信息</li>-->
    <a class="mdl-menu__item" href="/users/loginPage" id="login-item" style="color: black">登录</a>
    <li class="mdl-menu__item" id="submitMD">发布文章</li>
    <a class="mdl-menu__item" href="/users/logout" id="logout" style="color: black">登出</a>
    <!--<li class="mdl-menu__item" id="ToTop">返回顶部</li>-->
</ul>
<a id="more-fab" class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">未登陆</a>
<!--<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
</body>
<script src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/material.js"></script>
<script type="text/javascript" src="/js/jquery.toTop.js"></script>
<script type="text/javascript" src="/js/jquerysession.js"></script>

<script>
    Date.prototype.format = function (format) {
        var args = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(format))
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var i in args) {
            var n = args[i];
            if (new RegExp("(" + i + ")").test(format))
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? n : ("00" + n).substr(("" + n).length));
        }
        return format;
    };
</script>
<script>
    $(document).ready(function(){
        var htmlStr = '';
        $("#md").on("keyup blur",function () {
            $('#html').html(marked($("#md").val()));
            //将markdown格式转化成html
            htmlStr=marked(marked($("#md").val()));
            // console.log(htmlStr.toString());
        })
        $("#submitMD").click(function(){
            console.log(htmlStr);
            var datetime = new Date().format("yyyy-MM-dd hh:mm:ss");
            var tag = $("#tags").val();
            var articleTitle = $("#titleInput").val();
            var author = $.session.get('user');
            console.log()
            console.log(articleTitle);
            $.ajax({
                data:{
                    title:articleTitle,
                    author:author,
                    tags:tag,
                    content:htmlStr,
                    writeDate:datetime,
                },
                type:"POST",
                url:"/article/submitArticle",
                success:function(msg){
                    alert("Submit success");
                    window.location.href='/'
                },
                error:function(){
                    alert("Error");
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        if($.session.get('user')===undefined||$.session.get('role')==='visitor'){
            $('#submitArticle').remove();
            $("#more-fab").text("未登陆");
        }
        if($.session.get('user')!=undefined){
            $("#more-fab").text('你好 '+$.session.get('user')+' 请发布文章');
            $("#login-item").remove();
        }
        $("#ToTop").click(function () {
            scrollTo(0,0)
        })
        $("#logout").click(function () {
            $.session.clear();
        })
    })
</script>
</html>