#more-fab {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
.recommeng-card.mdl-card {
    width: 100%;
}
.recommeng-card > .mdl-card__title {
    color: #fff;
    height: 250px;
    background: url('/images/mdgif3.gif') center / cover;
}
.recommeng-card > .mdl-card__menu {
    color: #fff;
}
.demo-list-icon {
    width: 300px;
}
.contact_facebook{
    font-size: 14px;
    color: #fff;
    margin-right: 1em;
    text-transform: uppercase;
    display:inline-block;
    background:#337ab7;
    padding:1.2em 1em;
    margin-bottom:0.5em;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.contact_facebook:hover{
    background:#29689E;
}
.contact_weibo{
    font-size: 14px;
    color: #fff;
    margin-right: 1em;
    text-transform: uppercase;
    display:inline-block;
    background:#dd4b39;
    padding:1.2em 1em;
    margin-bottom:0.5em;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.contact_weibo:hover{
    background:#DC3E3F;
}
.contact_wechat{
    font-size: 14px;
    color: #fff;
    margin-right: 1em;
    text-transform: uppercase;
    display:inline-block;
    background:#ea4c89;
    padding:1.2em 1em;
    margin-bottom:0.5em;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.contact_wechat:hover{
    background: #E03979;
}
a{
    text-decoration: none;
    color: #fff;
}
h3{
    line-height: 8px;
    width: 100%;
    /*text-align: center;*/
}
.mdl-chip{
    margin: 5px;
}
.tagsSection{
    padding: 15px;
    background-color: white;
    height: auto;
}
.mdl-chip >a{
    text-decoration: none;
    font-size: 13px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
}

.section__circle--big syq{
    background: url('/images/syq.jpeg') center/cover;
}
.section__circle--big cxy{
    background: url('/images/cxy.jpeg') center/cover;
}
.syq {
    color: #fff;
    height: 1000px;
    background: url('/images/syq.jpeg') center/cover;
}
.mdl-card__supporting-text{
    height: 400px;
}
.cxy{
    color: #fff;
    height: 1000px;
    background: url('/images/cxy.jpeg') center/cover;
}
.mdl-chip:hover{
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}
.mdl-chip{
    transition: all 0.3s cubic-bezier(.10,.4,.10,0.2);
}
.mdl-menu__container{
    right: 130px;
}